.card {
  display: grid;
  grid-template-areas: "card1 card2 card3 card4";
  *justify-content: space-around;
  *padding: 15px;
  transition: 0.1s;
  *background-color: #c5004a;
}
#item1 {
  grid-area: card1;
}
#item2 {
  grid-area: card2;
}
#item3 {
  grid-area: card3;
}
#item4 {
  grid-area: card4;
}
.card:hover {
  box-shadow: 0 8px px 0 rgba(0, 0, 0, 0.2);
}

.container-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 30px 100px 40px 30px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  *background-color: aqua;
  padding: 10px;
}

.card-img {
  height: 10rem;
  width: 10rem;
}
.card-p {
  *width: 10vw;
  padding: 5px;
}
.buy-btn {
  background-color: #2ea44f;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
  border: none;
  &:hover {
    background-color: white;
    color: black;
  }
}
.pris {
  color: #c5004a;
}

.loggain {
  float: right;
  background-color: #2ea44f;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 50px;
  margin: 10px;
  &:hover {
    background-color: white;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}
@media (max-width: 780px) {
  .card {
    display: grid;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    grid-gap: 10px;
  }
}
