@charset "UTF-8";
/* Början av navbar /sandra */
header {
  *border: 1px solid #f31b1b;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(231, 23, 23, 0), rgba(255, 255, 255, 0.945), white), url("Bilder/nice-christmas-packages-white-table.jpg");
  background-size: 100%;
  padding-top: 25vw;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 45vw;
}

h1 {
  *border: 1px solid darkgrey;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 9vw;
  color: #364936;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
  width: 60vw;
  height: 52px;
  list-style-type: none;
  background-color: #e7e7e7;
  border-radius: 25px;
}

@media screen and (max-width: 480px) {
  #nav-bar, li {
    background-color: none;
    list-style-type: none;
    margin: 3px;
  }
}
li {
  background-color: #e7e7e7;
  border-radius: 25px;
  list-style-type: none;
  float: left;
  margin: 3px;
}

li:last-child {
  border-radius: 25px;
}

li a {
  border-radius: 25px;
  display: block;
  color: #4d4d4d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  border-radius: 25px;
  background-color: #c7c7c7;
}

.active {
  border-radius: 25px;
  background-color: #bbd4bc;
}

.cart {
  float: right;
}

/* slutet av navbar */
/* början av "om oss" artikeln */
span {
  font-family: Arial, Helvetica, sans-serif;
}

.omoss-container, .kontaktformular-container {
  *border: 1px solid #d11a1a;
  margin-bottom: 150px;
  width: auto;
  display: flex;
  justify-content: center;
}

.omoss, .kontaktformular-container {
  *border: 1px solid #d11a1a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.bild {
  *border: 1px solid green;
  width: 150px;
}

.title {
  *border: 1px solid #d1721a;
  font-family: "Dancing Script", cursive;
  padding-bottom: 20px;
}

.gruppett {
  *border: 1px solid #3c1ad1;
  width: 400px;
  padding: 20px;
}

/* slutet av "om oss" artikeln */
.card {
  display: grid;
  grid-template-areas: "card1 card2 card3 card4";
  *justify-content: space-around;
  *padding: 15px;
  transition: 0.1s;
  *background-color: #c5004a;
}

#item1 {
  grid-area: card1;
}

#item2 {
  grid-area: card2;
}

#item3 {
  grid-area: card3;
}

#item4 {
  grid-area: card4;
}

.card:hover {
  box-shadow: 0 8px px 0 rgba(0, 0, 0, 0.2);
}

.container-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 30px 100px 40px 30px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  *background-color: aqua;
  padding: 10px;
}

.card-img {
  height: 10rem;
  width: 10rem;
}

.card-p {
  *width: 10vw;
  padding: 5px;
}

.buy-btn {
  background-color: #2ea44f;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
  border: none;
}
.buy-btn:hover {
  background-color: white;
  color: black;
}

.pris {
  color: #c5004a;
}

.loggain {
  float: right;
  background-color: #2ea44f;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 50px;
  margin: 10px;
}
.loggain:hover {
  background-color: white;
}
.loggain a {
  color: white;
  text-decoration: none;
}
.loggain a:hover {
  color: black;
  background-color: white;
}

@media (max-width: 780px) {
  .card {
    display: grid;
    grid-template-areas: "card1" "card2" "card3" "card4";
    grid-gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-content: end;
  flex-direction: column;
  height: 100vh;
}

footer {
  line-height: 24px;
  color: #ffff;
}

footer .design {
  background-color: rgba(41, 71, 53, 0.863);
  padding: 16px;
  padding-top: 48px;
}

footer .content {
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

footer .footer-h2 {
  font-size: 21px;
  padding-block: 16px;
}

footer .content a {
  text-decoration: none;
  display: block;
  padding-block: 12px;
  color: #ffff;
  opacity: 0.65;
}

footer .content a:hover {
  opacity: 1;
  color: rgba(248, 248, 248, 0.993);
  font-size: 18px;
}

footer input {
  border-style: solid;
  width: 100%;
  line-height: 24px;
  padding: 12px 16px;
  font-size: 1rem;
  margin-block: 8px;
  border-radius: 8px;
  border-width: 2px;
}

@media (max-width: 331px) {
  footer input {
    font-size: 10px;
    border-style: solid;
    width: 100%;
    line-height: 12px;
    padding: 6px 8px;
    margin-block: 4px;
    border-radius: 4px;
    border-width: 1px;
    float: none;
  }
}
footer input[type=email] {
  background-color: rgba(252, 252, 252, 0.486);
  color: #375037;
}

footer input[type=email]:hover,
footer input[type=email]:focus {
  background-color: #f7f2f2;
}

footer input[type=submit] {
  color: #495a41;
}

footer input[type=submit]:hover {
  background-color: rgba(97, 134, 112, 0.568);
  color: #ffff;
}

footer .social {
  position: relative;
  left: 20%;
  padding-left: 10px;
  padding-right: 10px;
}

footer .social i {
  font-size: 32px;
  padding: 12px;
  text-align: center;
}

footer .social i:hover {
  position: relative;
  top: -5px;
}

footer .notice {
  padding-top: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.479);
  font-size: 1rem;
}

.loginDiv,
.card-update-div {
  display: none;
}

.kontakt-section {
  height: 100vh;
  width: 100%;
  background-color: rgba(77, 109, 77, 0.315);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Dancing Script", cursive;
}

.kontakt-container {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 20px #74ac66;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-h3 {
  text-align: center;
}

.form-div {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  position: relative;
}

.form-div.success input {
  border: 2px solid green;
}

.form-div.success i.fa-check-circle {
  color: green;
  visibility: visible;
}

.form-div.error input {
  border: 2px solid #aa260f;
}

.form-div.error i.fa-exclamation-circle {
  color: #801e00;
  visibility: visible;
}

.form-div i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-div small {
  visibility: hidden;
  position: absolute;
  top: 66px;
  left: 0;
  font-size: 1vw;
}

.form-div.error small {
  visibility: visible;
  color: red;
}

.form-div input,
.form-div textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #305a43;
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type=submit] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  color: #87a573;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
}

button[type=submit]:hover {
  background-color: #495a41;
}

/* början av "om oss" artikeln */
span {
  font-family: Arial, Helvetica, sans-serif;
}

.omoss-container, .kontaktformular-container {
  *border: 1px solid #d11a1a;
  margin-bottom: 150px;
  width: auto;
  display: flex;
  justify-content: center;
}

.omoss, .kontaktformular-container {
  *border: 1px solid #d11a1a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.bild {
  *border: 1px solid green;
  width: 150px;
}

.title {
  *border: 1px solid #d1721a;
  font-family: "Dancing Script", cursive;
  padding-bottom: 20px;
}

.gruppett {
  *border: 1px solid #3c1ad1;
  width: 400px;
  padding: 20px;
}

/* slutet av "om oss" artikeln */

/*# sourceMappingURL=style.css.map */
